@page "/rankdescription"
@page "/rankdescription/{selectedRank}/{rankKey}"
@inject application.Services.SpeciesService SpeciesService;
@inject HttpClient Http
@using application.Components
@inject application.Services.WikipediaService WikipediaService;


<button class="back" onclick="history.back()">  ⇠ BACK </button>

<h1> @selectedRank</h1>


@if (!string.IsNullOrWhiteSpace(wikiExtract))
{
    <div class="container">
        <div class="row">

            <div class = "col">


                @if (!string.IsNullOrEmpty(@wikiImage))
                {
                    <img class="profileof" src="@wikiImage" />

                }
                else
                {
                    <img class="profileof" src="/images/unrecordedAsOfNow.jpg" />
                    <div class="noimage">
                        <h3> No image in any API, be the first to record this rank !</h3>


                    </div>

                }


            </div>




         


            <div class="col">
                <p class="extract">@wikiExtract</p>
            </div>


        </div>
    </div>
}






<ul class="gridlist">
    @foreach (var s in nestedspecies)
    {

        <li class="list">
            <NavLink href=@($"/singularspecies/{s.species}/{s.key}/{selectedRank}")>
                @s.species
            </NavLink>


        </li>
    }

</ul>



<ul class="gridlist">
    @foreach (var s in SpeciesService.species.Where(s => !string.IsNullOrEmpty(s.wikiImage)))
    {
        <li class="list">
           
            <NavLink href=@($"/speciesdescription/{s.species}/{s.key}{selectedRank}")>
                @s.species
            </NavLink>
        </li>
    }

</ul>








@code {

    List<Species> nestedspecies = new();

    private string? wikiImage;
    private string? wikiExtract;

    protected override async Task OnInitializedAsync()
    {
        await SpeciesService.LoadSpeciesAsync(Http);

        var url = $"https://api.gbif.org/v1/species/search?rank=SPECIES&highertaxonKey={rankKey}&limit=1000"; //familykey eg 7787
        var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>(url);
        nestedspecies = response?.results ?? new List<Species>();


        var (image, extract) = await WikipediaService.GetInfoAsync(selectedRank);

        wikiImage = image;
        wikiExtract = extract;
    }



    [Parameter]
    public string? selectedRank { get; set; }
    [Parameter]
    public string? rankKey { get; set; }

    private Species? currentSpecies;



    // private string realname = currentSpecies.vernacularName;




    protected override void OnParametersSet()

    {
        if (SpeciesService.species?.Any() == true) // null check
        {
            currentSpecies = SpeciesService.species.FirstOrDefault(s => s.scientificName == selectedRank); //returnas the first that equals such

        }
    }

}

