@page "/rankdescription"
@page "/rankdescription/{selectedRank}/{rankKey}"
@inject application.Services.SpeciesService SpeciesService;
@inject HttpClient Http
@using application.Components
@inject application.Services.WikipediaService WikipediaService;

<button class="back" onclick="history.back()">  ⇠ BACK </button>

    <div class="explainNicely">
<h1> @selectedRank</h1>
</div>
<br />


@if (selectedRank is not null ) 
{
    <div class="container">
        <div class="row">
            <div class = "col">
                @if (!string.IsNullOrEmpty(@wikiImage))
                {
                    <img class="profileof" src="@wikiImage" />

                }
                else
                {
                    <img class="profileof" src="/images/unrecordedAsOfNow.jpg" />
                    <div class="noimage">
                        <h3> No image in any API, be the first to record this rank !</h3>


                    </div>

                }


            </div>



            <div class="col">

                @if (!string.IsNullOrEmpty(@wikiExtract))
                {
                        <div class="explainNicely">

                        <p class="extract">@wikiExtract</p>
                    </div>
                }
                else
                {
                    <div class="explainNicely">

                    <p> This specific object ofthis rank does not have explanatory text in both apis. This may be due to its vague status and name </p>
               </div>

                    <div class="explainNicely">
                            <h2> Please see other sites listed below for this specific rank </h2>
                                <div class="noimage">

                                    <a href="https://www.google.com/search?q=@selectedRank" target="_blank">
                                            <h2> @selectedRank  </h2>
                                    </a>
                                    </div>
                    </div>

                }
            </div>


        </div>
    </div>
}


<div class="explainNicely">

    @if (selectedRank is not null)
    {
  
        <h3> You are @countOfBranch steps down the tree of life.  </h3>
        @if (currentSpecies is not null) {  <h3> Kingdom : @currentSpecies.kingdom  </h3>  }
        @if (@currentSpecies?.phylum is not null) {  <h3> phyluM : @currentSpecies.phylum  </h3>  }
        @if (currentSpecies?.classOfSpecies is not null) {  <h3> Class : @currentSpecies.classOfSpecies  </h3>  }
        @if (currentSpecies?.family is not null) {  <h3> Family : @currentSpecies.family  </h3>  }
        @if (currentSpecies?.genus is not null) {  <h3> Genus : @currentSpecies.genus  </h3>  }



     
    }
    else
    {
        <p> </p>
    }

</div>

@if (currentSpecies is not null)
{
    <div class="explainNicely">
        <h3> Find out more about descendants below : @currentSpecies.numDescendants  </h3>
    </div>
}




<ul class="gridlist">
    @foreach (var s in nestedspecies)
    {

        <li class="list">
            <NavLink href=@($"/singularspecies/{s.species}/{s.key}/{selectedRank}")>
                @s.species
            </NavLink>


        </li>
    }

</ul>


<ul class="gridlist">
    @foreach (var s in SpeciesService.species.Where(s => !string.IsNullOrEmpty(s.wikiImage)))
    {
        <li class="list">
           
            <NavLink href=@($"/speciesdescription/{s.species}/{s.key}/{selectedRank}")>
                @s.species
            </NavLink>
        </li>
    }

</ul>


@code {

    List<Species> nestedspecies = new();

    private string? wikiImage;
    private string? wikiExtract;
    private int countOfBranch;




    [Parameter]
    public string? selectedRank { get; set; }
    [Parameter]
    public string? rankKey { get; set; }

    private Species? currentSpecies;



    // private string realname = currentSpecies.vernacularName;

    protected override async Task OnInitializedAsync()
    {
        await SpeciesService.LoadSpeciesAsync(Http);

        var url = $"https://api.gbif.org/v1/species/search?rank=SPECIES&highertaxonKey={rankKey}&limit=1000"; //familykey eg 7787
        var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>(url);
        nestedspecies = response?.results ?? new List<Species>();


        var (image, extract) = await WikipediaService.GetInfoAsync(selectedRank);

        wikiImage = image;
        wikiExtract = extract;


        //currentSpecies = response?.results ?? Species;
        
        var urlForcurrentspecies = $"https://api.gbif.org/v1/species/{rankKey}";
        currentSpecies = await Http.GetFromJsonAsync<Species>(urlForcurrentspecies);



    }


    protected override void OnParametersSet()

    {


        if (!string.IsNullOrEmpty(currentSpecies?.kingdom)) countOfBranch++; //maybe null so ? 
        if (!string.IsNullOrEmpty(currentSpecies?.phylum)) countOfBranch++;
        if (!string.IsNullOrEmpty(currentSpecies?.classOfSpecies)) countOfBranch++;
        if (!string.IsNullOrEmpty(currentSpecies?.order)) countOfBranch++;
        if (!string.IsNullOrEmpty(currentSpecies?.family)) countOfBranch++;
        if (!string.IsNullOrEmpty(currentSpecies?.genus)) countOfBranch++;


    }

}

