@rendermode InteractiveServer

@page "/singularspecies"
@page "/singularspecies/{selectedName}/{key}/{selectedRank}"
@inject HttpClient Http
@using application.Components
@using application.Components.Layout
@inject application.Services.SpeciesService SpeciesService;
@inject application.Services.WikipediaService WikipediaService;



<button class="back" onclick="history.back()">  ⇠ BACK </button>


                    <div class="explainNicely">

    <h3>@selectedName</h3>

                    </div>
<br />
<br />



@if (selectedspecies is not null)

{
    <div class="container">
        <div class="row">

            <div class="col">

                @if (!string.IsNullOrEmpty(@wikiImage))
                {
                    <img class="profileof" src="@wikiImage" />

                }
                else
                {
                    <img class="profileof" src="/images/frown.jpg" />
                    <div class="noimage">
                    <h3> Still no real records on the web ! Be the first to document it !</h3>

                    </div>

                }
                



            </div>
            <div class="col">



                @if (selectedspecies is not null)
                {
                    <div class="explainNicely">


                 

               

                        <NavLink href=@($"/rankdescription/{selectedspecies.kingdom}/{selectedspecies.key}")>
                            <h3> Kingdom : @selectedspecies.kingdom </h3>
                        </NavLink>
                        <NavLink href=@($"/rankdescription/{selectedspecies.phylum}/{selectedspecies.key}")>
                            <h3> Phylum : @selectedspecies.phylum  </h3>
                        </NavLink>
                        <NavLink href=@($"/rankdescription/{selectedspecies.classOfSpecies}/{selectedspecies.key}")>
                          
                            <h3> Class : @selectedspecies.classOfSpecies  </h3>

                        </NavLink>

                        <NavLink href=@($"/rankdescription/{selectedspecies.order}/{selectedspecies.key}")>

                            <h3> Order : @selectedspecies.order  </h3>

                        </NavLink>

                        <NavLink href=@($"/rankdescription/{selectedspecies.family}/{selectedspecies.key}")>
                            <h3> Family : @selectedspecies.family </h3>
                        </NavLink>



                        <NavLink href=@($"/rankdescription/{selectedspecies.genus}/{selectedspecies.key}")>
                            <h3> Genus : @selectedspecies.genus </h3>
                        </NavLink>

                    </div>
                    <br />


                }
                else
                {
                    <p> <br /> </p>
                }



            </div>
            <br />
            @if (selectedspecies is not null){

                    @if (selectedspecies.numDescendants == 0)
                    {
                        <br />
                    <div class="explainNicely">


                        <h3> Number of known descendants of this kingdom : @selectedspecies.numDescendants  </h3>
                    </div>
                }
                else
                {
                    
                    <p>             </p>
                    <div class="explainNicely">
                        <h1> Find out more about descendants down below </h1>
                    </div>

                }
            }


        </div>
    </div>
}

<br />


<ul class="gridlist">
    @foreach (var s in nestedspecies)
    {
        <li class="list">
            <NavLink href=@($"/subspecies/{s.species}/{s.nubkey}/{selectedRank}")>
                Direct child of @s.species
            </NavLink>

        </li>

    }

</ul>

@code {
    private Species? selectedspecies;
    List<Species> nestedspecies = new();
    int countOfSubSpecies = 1;

    [Parameter]
    public string? selectedName { get; set; }
    [Parameter]
    public string? key { get; set; }
    [Parameter]
    public string? selectedRank { get; set; }


    private string? wikiImage;
    private string? wikiExtract;




    protected override async Task OnInitializedAsync()
    {
        
    
        selectedspecies = await Http.GetFromJsonAsync<Species>($"https://api.gbif.org/v1/species/{key}");

        var (image, extract) = await WikipediaService.GetInfoAsync(selectedRank);

        wikiImage = image;
        wikiExtract = extract;



        var url = $"https://api.gbif.org/v1/species/{key}/children?"; //nullable might not ahve
        var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>(url);
        nestedspecies = response?.results ?? new List<Species>();
    }

    }




}
