@page "/speciesdescriptionnested"
@page "/speciesdescriptionnested/{selectedName}"
@inject application.Services.SpeciesService SpeciesService;
@inject HttpClient Http



@if (currentSpecies is not null)
{
     <h1> @currentSpecies.scientificName</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3> Kingdom : @currentSpecies.kingdom </h3>
    <h3> Phylum : @currentSpecies.phylum  </h3>
    <h3> Canonical Name : @currentSpecies.canonicalName  </h3>
    <h3> Family : @currentSpecies.family  </h3>
    @if(currentSpecies.status is not null)
    {<h3> Status : @currentSpecies.status  </h3>
    } else { <h3> Current status unknown </h3> }
    <h3> Number of known descendants of this kingdom : @currentSpecies.numDescendants  </h3>

}
else
{
    <p> Loading species details </p>
}



@code {


    protected override async Task OnInitializedAsync()
    {
        await SpeciesService.LoadSpeciesAsync(Http);
    }
    [Parameter]
    public string? selectedName { get; set; }
    private Species? currentSpecies;
   
    protected override void OnParametersSet()

    {
     
        //var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>("https://api.gbif.org/v1/species?rank=SPECIES&limit=40");
        //species = response?.results ?? new List<Species>();


    }

}
