@page "/speciesdescription"
@page "/speciesdescription/{selectedName}/{taxonkey}"
@rendermode InteractiveServer
@inject application.Services.SpeciesService SpeciesService;
@inject HttpClient Http
@using application.Components
@inject application.Services.WikipediaService WikipediaService;



<button class="back" onclick="history.back()">  ⇠ BACK </button>

    <div class="explainNicely">
<h1> @selectedName</h1>
</div>
<br />






@if (currentSpecies is not null)

{
    <div class="container">
        <div class="row">

            <div class="col">

                @if (!string.IsNullOrEmpty(@wikiImage))
                {
                    <img class="profileof" src="@wikiImage" />

                }
                else
                {
                    <img class="profileof" src="/images/frown.jpg" />
                    <div class="noimage">
                    <h3> Still no real records on the web ! Be the first to document it !</h3>

                    </div>

                }
              
                </div>
            <div class="col">
                <div class="explainNicely">

                    <p class="extract">@wikiExtract</p>
                </div>
            </div>

        </div>
    </div>
}



    <div class="explainNicely">

        @if (currentSpecies is not null)
        {
            <h3> @currentSpecies.vernacularName  </h3>

            <h1> @currentSpecies.scientificName</h1>
            <h3> Kingdom : @currentSpecies.kingdom </h3>
            <h3> Phylum : @currentSpecies.phylum  </h3>
            <h3> Canonical Name : @currentSpecies.canonicalName  </h3>

            <h3> Family : @currentSpecies.family  </h3>
            @if (currentSpecies.status is not null)
            {
                <h3> Status : @currentSpecies.status  </h3>
            }
            else
            {

                <h3> Current status unknown </h3>
            }

        }
        else
        {
            <p> Species details not fully recorded </p>
        }

    </div>

@if (currentSpecies is not null)
{
    <div class="explainNicely">
<h3> Find out more about descendants below : @currentSpecies.numDescendants  </h3>
  </div>
}


<ul class="gridlist">
    @foreach (var s in nestedspecies )
    {
   
        <li class="list">
            <NavLink href=@($"/singularspecies/{s.canonicalName}/{s.key}/{s.canonicalName}")>
                @s.canonicalName
            </NavLink>


        </li>
    }

</ul>

<ul class="gridlist">
    @foreach (var s in SpeciesService.species.Where(s => !string.IsNullOrEmpty(s.wikiImage)))
    {
        <li class="list">
            <NavLink href=@($"/speciesdescription/{s.scientificName}/{s.key}")>
                @s.scientificName
            </NavLink>
        </li>
    }

</ul>








@code {

    List<Species> nestedspecies = new();

    private string? wikiImage;
    private string? wikiExtract;

    protected override async Task OnInitializedAsync()
    {
        await SpeciesService.LoadSpeciesAsync(Http);

        var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>($"https://api.gbif.org/v1/species/search?rank=species&parentKey={taxonkey}&limit=40");
        //var response = await Http.GetFromJsonAsync<SpeciesSearchResponse>($"https://api.gbif.org/v1/species?rank=SPECIES&highertaxon_key={taxonkey}&limit=40");
        nestedspecies = response?.results ?? new List<Species>();


      var (image, extract) = await WikipediaService.GetInfoAsync(selectedName);
 
        wikiImage = image;
        wikiExtract = extract;
    }



    [Parameter]
    public string? selectedName { get; set; }
    [Parameter]
    public string taxonkey { get; set; }

    private Species? currentSpecies;



   // private string realname = currentSpecies.vernacularName;




    protected override void OnParametersSet()

    {
        if (SpeciesService.species?.Any() == true) // null check 
        {
           currentSpecies = SpeciesService.species.FirstOrDefault(s => s.scientificName == selectedName); //returnas the first that equals such 
        
        }
    }

}
